.cache/
.hf_home/
.mypy_cache/
.python_userbase/
.pytest_cache/
.ruff_cache/
audio/
logs/
models/
outputs/
python_packages/
swiss-german-swiss/
swiss_german/
tmp/
work/

.coverage
*.err
*.out
__pycache__/
*.py[cod]
